<h4>Client Accounts</h4>
<div id="addSearch">
    <div id="search" class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search by account number" ng-model="numeroCuentaBancaria">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="readCuentas()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
    <div id="add">
        <a class="btn btn-default btn-sm" href="#/Accounts/Add"><span class="glyphicon glyphicon-plus"></span> Add</a> 
    </div>
</div>
<div id="containsTable">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>#</td><td>Branch office</td><td>Account number</td><td>DC</td><td>Balance</td><td>CTC</td><td>Edit</td>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="cuenta in cuentasBancarias">
                <td><a href="#/Accounts/Details/{{cuenta.idCuentaBancaria}}">{{cuenta.idCuentaBancaria}}</a></td>
                <td>{{cuenta.sucursalBancaria.codigoSucursalBancaria }} - {{cuenta.sucursalBancaria.nombreSucursalBancaria}}</td>
                <td>{{cuenta.numeroCuenta}}</td>
                <td>{{cuenta.dc}}</td>
                <td>{{cuenta.saldo}}</td>
                <td>{{cuenta.cif}}</td>
                <td>
                    <a type="button" class="btn btn-default btn-sm" href="#/Accounts/Edit/{{cuenta.idCuentaBancaria}}"><span class="glyphicon glyphicon-edit"></span></a> 
                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteCuentasBancarias(cuenta.idCuentaBancaria)"><span class="glyphicon glyphicon-trash"></span></button> 
                </td> 
           
        </tbody>
    </table>
</div>
