<h4>Administer Branch Office</h4>
<div id="containsForm">
    <form role="form">
        <div class="row">
            <div class="form-group col-xs-11">
                <label>Entity</label>
                <input type="text" class="form-control" ng-model="entidadMostrar" disabled>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label>Office Code</label>
                <input type="text" class="form-control" ng-model="sucursalBancaria.codigoSucursalBancaria" >
            </div>
            <div class="form-group col-xs-7">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="sucursalBancaria.nombreSucursalBancaria">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="button" class="btn btn-warning col-xs-3" href="buttonCancel()">Cancel</button>
                <button type="button" class="btn btn-danger col-xs-3 col-xs-offset-1" ng-click="deleteSucursalBancaria(sucursalBancaria.idSucursalBancaria)" ng-disabled="disabled"><span class="glyphicon glyphicon-trash"></span></button> 
                <button type="button" class="btn btn-primary col-xs-3 col-xs-offset-1" ng-click="buttonOK()">Accept</button>

            </div>
        </div>
    </form>
</div>    