<h4>Entity Detail</h4>
<div id="entityDetails">

</div>
<div id="containsTable">
    <div id="details">
        <div><span class="nombreDetalle">ID:</span> {{entidadBancaria.idEntidadBancaria}}</div>
        <div><span class="nombreDetalle">CODE:</span> {{entidadBancaria.codigoEntidadBancaria}}</div>
        <div><span class="nombreDetalle">NAME:</span> {{entidadBancaria.nombreEntidadBancaria}}</div>
        <div><span class="nombreDetalle">CTC:</span> {{entidadBancaria.cifEntidadBancaria}}</div>
        <div ng-switch on="entidadBancaria.tipoEntidadBancaria"><span class="nombreDetalle">TYPE:</span> 

            <span ng-switch-when="BANCO">Bank</span>
            <span ng-switch-when="CAJADEAHORRO">Savings bank</span>
            <span ng-switch-when="COOPERATIVASDECREDITO">Cooperative Credit</span>
            <span ng-switch-when="ESTABLECIMIENTOSFINACIEROSDECREDITO">Credit institutions</span>


        </div>
    </div>
    <div id="addSearch">
        <div id="search" class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search by name" ng-model="nombreSucursalBancaria">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="readSucursales()"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        <div id="add">
            <a class="btn btn-default btn-sm" href="#/BranchOffice/Add"><span class="glyphicon glyphicon-plus"></span> Add</a> 
        </div>
    </div>
    <div class="panel panel-info">
        <div id="cabeceraTabla" class="panel-heading">Branch office</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>#</td><td>Entity</td><td>Office code</td><td>Name</td><td>Edit</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sucursal in sucursalesBancarias">
                    <td>{{sucursal.idSucursalBancaria}}</td>
                    <td>{{sucursal.entidadBancaria}}</td>
                    <td>{{sucursal.codigoSucursalBancaria}}</td>
                    <td>{{sucursal.nombreSucursalBancaria}}</td> 
                    <td>
                        <a class="btn btn-default btn-sm" href="#/BranchOffice/Edit/{{sucursal.idSucursalBancaria}}"><span class="glyphicon glyphicon-edit"></span></a> 
                        
                    </td> 
                </tr>

            </tbody>
        </table>

    </div>
    <div id="return">
        <a class="btn btn-warning col-xs-5" href="#/Entity">Return</a>
    </div>
</div>