<h4>Administer Entities</h4>
<div id="addSearch">
    <div id="search" class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search by name" ng-model="nombreEntidadBancaria">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="readEntidades()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
    <div id="add">
        <a class="btn btn-default btn-sm" href="#/Entity/Add"><span class="glyphicon glyphicon-plus"></span> Add</a> 
    </div>
</div>
<div id="containsTable">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>#</td><td>Entity code</td><td>Entity name</td><td>CTC</td><td>Entity type</td><td>Edit</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entidad in entidadesBancarias">
                <td>{{entidad.idEntidadBancaria}}</td>
                <td>{{entidad.codigoEntidadBancaria}}</td>
                <td>{{entidad.nombreEntidadBancaria}}</td> 
                <td>{{entidad.cifEntidadBancaria}}</td> 
                <td>{{entidad.tipoEntidadBancaria}}</td>
                <td>
                    <a type="button" class="btn btn-default btn-sm" href="#/Entity/Edit/{{entidad.idEntidadBancaria}}"><span class="glyphicon glyphicon-edit"></span></a> 
                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteEntidadBancaria(entidad.idEntidadBancaria)"><span class="glyphicon glyphicon-trash"></span></button> 
                </td>
            </tr>

        </tbody>
    </table>
</div>
