.clear{clear: both;}

#column-right #containsPanelAdmin{
    width: 80%;
    margin: 15px auto;    
}

#column-right #containsPanelAdmin #newUser{
    background-image: url(../img/icon/priest.png);
    background-position: center;
    background-size: 40px 45px;
    background-repeat: no-repeat;
}

#column-right #containsPanelAdmin #message{
    background-image: url(../img/icon/message.png);
    background-position: center;
    background-size: 45px 45px;
    background-repeat: no-repeat;
}

#column-right #containsPanelAdmin #users{
    background-image: url(../img/icon/users1.png);
    background-position: center;
    background-size: 45px 45px;
    background-repeat: no-repeat;
}

#column-right #containsPanelAdmin #entity{
    background-image: url(../img/icon/entity.png);
    background-position: center;
    background-size: 55px 55px;
    background-repeat: no-repeat;
}

#column-right #containsPanelAdmin #office{
    background-image: url(../img/icon/office.png);
    background-position: center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#column-right #containsPanelAdmin #transaction{
    background-image: url(../img/icon/transaction.png);
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

#column-right #containsTable, #column-right #newUser, #column-right #messageNavBar{
    margin: 15px auto;
    width: 90%;
}

#column-right #newUser button{
    position: relative;
    left: 90%;
} 

#column-right #containsNewMessage button{
    position: relative;
    left: 82%;
} 

#column-right #containsTable table{
    text-align: center;
}

#column-right #containsTable table thead{
    background-color: #333;
    color: #FFF;
    font-weight: bold;
}

#column-right #containsForm{
    width: 95%;
    margin: 0 auto;
}

#column-right h4{
    margin: 20px 0px 5px 20px;
}

.optionPanelAdmin{
    float: left;
    margin: 15px;
    width: 125px;
    height: 125px;
    border: solid 1px #e7e7e7;
    background-color: #FFF;
    transition: background-color 1s;
}

.optionPanelAdmin:hover{
    background-color: #66ccff;
}
