body{
    margin: 0;
    padding: 0;
}

#contenedor{
    background-color: #FFF;
    margin: 20% auto;
    width: 561px;
    height: 50%;
    padding: 7px;
}

#contenedor img{
    width: 551px;
    margin: 15px auto;
}

#contenedor #barra{
    margin: 15px auto;
}